@model WebstoreMVC.Models.ShoppingCartListViewModel
@{
    ViewData["Title"] = "Shoppingcart";
}

<h2>@ViewData["Title"]</h2>
<br />
<div>
    <partial name="../Shared/_ShoppingCartPartial.cshtml" />
</div>