@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th colspan="3">Wianne</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Achtergrond</p><br />
                <p>Voorkennis</p><br />
                <br />
                <p>Resultaat van 7 weken</p><br />
                <br />
                <p></p>
                <p>Waarheen leidt de weg?</p><br />
            </td>
            <td>
                <p>Social Work: Pedagoog, 2,75 jaar gewerkt met dreumessen en baby's in de Kinderopvang.</p><br />
                <p>Rondneuzen studieboeken IT-broers, C++ basics EdX cursus, HTML/CSS (Eigen website),<br /> Oefenen in PluralSight met fundamentals van C#.</p><br />
                <p>Van theortische basics naar practisch en stevig fundament als junior C#.NET Developer.</p>
                <p>ASP.NET Core 2.1, EntityFramework en Databases, MVC, LINQ, C#. </p><br />
                <p>Naar een toekomst als C#.NET developer, eventueel als fullstack developer.</p><br />
            </td>
            <td>
                <div class="Image">
                    <img height="200" alt="Wianne" src="~/images/YoungCapital_Oktober2018_Wianne.jpg" />
                </div>
            </td>
        </tr>
    </tbody>

    <thead>
        <tr>
            <th colspan="3">Erik</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Achtergrond</p><br />
                <p>Voorkennis</p><br />
                <p>Resultaat van 7 weken</p><br />
                <br />
                <p></p>
                <p>Waarheen leidt de weg?</p><br />

            </td>
            <td>
                <p>Bewegingstechnoloog, 2 jaar werkzaam in het onderwijs.</p><br />
                <p>6 jaar Matlab, basiskennis OOP.</p><br />
                <p>Van BT'er naar beginnend developer.</p>
                <p>C#, ASP.NET Core, EF, LINQ.</p><br />
                <p>Per 3-dec Stedin.</p>
                <p>GIS-DevOps Engineer.</p>
                <p>Magik.</p>
            </td>
            <td>
                <div class="Image">
                    <img height="200" alt="Erik" src="~/images/YoungCapital_Oktober2018_Erik.jpg" />
                </div>

            </td>
        </tr>
    </tbody>
</table>
